<div id="root" class="foo">
    <p>
        Lorem ipsum sit amet dolor consectetur adipiscing elit.
    </p>
    <p class="{{ classVariable }}">
        Whatever bros
    </p>
    <div>
        <span>This is a div with a span</span>
        {% if matt == "true" %}
            <span>This is the second span tag</span>
        {% endif %}
        <strong>This is a strong tag</strong>
    </div>

    {% if matt == 'bob' %}
        <span class="my-span">
            This span has a class.
        </span>
    {% endif %}
</div>